<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.news.hasrpro</key>
		<string>adhoc4hasrPro</string>
		<key>com.news.hasrpro.pushExtension</key>
		<string>adhoc4HasrProPushExtension</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>3ZXYFJ9PH6</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://127.0.0.1/HasrPro_1.22.0.ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.news.hasrpro</string>
					<key>bundle-version</key>
					<string>1.22.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>HasrPro</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
